* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    direction: rtl;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px #00000021;



}

.about-me {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px #00000021;
}

.text-box h1 {
font-size: 24px;
margin-bottom: 10px;
}

.text-box h2 {
font-size: 18px;
margin-bottom: 20px;
color: #333;
}

.text-box p {
font-size: 16px;
line-height: 1.6;
}

@media (max-width:768px) {
    .about-me {
        grid-template-columns: 1fr;
        align-items: center;
    }
    
    .text-box {
        text-align: center;
    }
}